body {
  font-family: $ff-basic; //'Noto Sans KR', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #666;
  word-break: keep-all;
}
html {
  @include lg {
    font-size: 16px;
  }
  font-size: 14px;
}

::selection {
  background-color: rgba(var(--main-color), 0.3);
}

* {
  &:before,
  &:after,
  & {
    box-sizing: border-box;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 $gutter;
}

.main-color {
  color: rgba(var(--main-color));
}

// @media print {
//   .project-list__intro .container,
//   .project-list__intro {
//     height: auto;
//   }
//   .project-list__intro .container {
//     position: static;
//   }
//   html {
//     font-size: 12px;
//   }
//   * {
//     -webkit-print-color-adjust: exact;
//     print-color-adjust: exact;
//   }
//   section {
//     // break-before: page;
//     break-after: always;
//   }
//   .project-list .item .img-bx .img {
//     overflow: hidden;
//   }
//   .header,
//   .cursor {
//     display: none;
//   }
// }
